html, body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

.hidden-wrapper {
  width: 100%;
  height: 140px;
  overflow: hidden;
}

.header, .footer, .angle-for-header, .angle-for-footer {
/*  background: #ffafbd; 
  background: -webkit-linear-gradient(to right, #ffafbd, #ffc3a0);
  background: linear-gradient(to right, #ffafbd, #ffc3a0);*/ 
}
.angle-for-header {
  bottom: -36px;
  border-bottom: 5px solid #00c3ff;
  background: linear-gradient(to right, #00c3ff, #ffff1c);

}

.angle-for-footer {
  top: -34px;
  border-top: 5px solid #00c3ff;
  background: linear-gradient(to right, #00c3ff, #ffff1c);
}

.angle-for-header, .angle-for-footer {
  position: absolute;
  width: 103%;
  height: 70px;
  left: -5px;
  z-index: -1;
  transform: rotate(3deg);
}

.header {
  width: 100%;
  height: 60px;
  position: relative;
}

.footer {
  width: 100%;
  height: 60px;
  position: absolute;
  bottom: 0;
  text-align: center;
}


.footer-wrapper {
  position: absolute;
  bottom: 0;
}

.footer-inner {
  position: relative;
  height: 100%;
}

.menu {
  width: 50%;
  float: right;
  margin-top: 30px;
}

.menu ul {
  color: #fff8ea;
  margin: 0;
  padding: 0;
  display: inline-block;
  vertical-align: middle;
}

.menu ul li {
  list-style: none;
  display: inline-block;
  margin: 0 27px;
  font-size: 22px;
}

.menu ul li {
    color: black;
    border: 2px solid black;
    border-radius: 5%;
    padding: 5px;
}


.logo {
  width: 50px;
  height: 50px;
  background: white;
  display: inline-block;
  vertical-align: middle;
}

.socials {
  float: right;
  width: 108%;
  /*width: 31%;  Можно подвигать соцсети вправо-влево */
  transform: rotate(2deg); /*Можно покрутить*/
}

.socials ul {
  margin: 0;
  padding: 0;
}

.socials ul li {
  color: #fff8ea;
  list-style: none;
  display: inline-block;
  margin: -7px 82px;
  background: #093028;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  line-height: 2.9;
  text-align: center;
  border-color: wheat;
  border: 2px solid wheat;
}

.social {

}

.rules {
      color: #fff8ea;
  width: 20%;
  float: left;
  margin-left: 40px;
  margin-top: -38px;
  font-size: 22px;
}

.rules-left, .rules-right {
background: #093028;
    border: 2px solid #fff8ea;
    border-radius: 5%;
    padding: 5px;
}


.rules-left {
  margin-top: -13px;
  float: left;
}

.rules-right {
    position: absolute;
    margin-top: -69px;
    margin-left: 972px;
}

.content-right-block {

}

.content-right-block .content-left-rules {
  text-align: left;
}

.content-right-block .content-right-rules {
  text-align: right;
}

.text-center {
  text-align: center;
}

.margin-top {
  margin-top: 70px;
}

.half-width {
  width: 60%;
  text-align: center;
  display: inline-block;
  margin-left: 15%;
}

.bottom-line {
  border: 0;
  border-top: 2px solid #fff8ea;
      /*color: #fff8ea;*/
}